a {
  color: black;
}

.article-page {
  min-height: 100vh;
  background-color: white;
  text-align: left;
}

.article-page article {
  margin-left: 4vw;
}

.article-page h4 {
  font-weight: 300;
  font-size: 4.45vw;
  margin-bottom: 2vw;
}

.article-page p {
  letter-spacing: 0.5em;
  line-height: 1.5em;
  font-size: 4.45vw;
  font-weight: 300;
}

.disabled * {
  color: silver;
}
