body {
  background-color: #f1f1f1;
  text-align: center;
}

#root {
  max-width: 414px;
  margin: 0 auto;
  border: 1px solid silver;
}

.char {
  font-size: 40px;
}

.choices ul {
  padding: 0;
}


