body {
  background-color: #fafafa;
  text-align: center;
  margin: 0;
  font-family: Helvetica, Arial, "微软雅黑", "Heiti SC", "Pingfang SC", "Droid Sans Fallback", SimHei, Hei, STHeiti, "宋体", SimSun, STSong, "Arial Unicode MS";
}

#root {
  max-width: 414px;
  margin: 0 auto;
}
