html {
  font-size: 1vw; /* form rem */
}
body {
  text-align: center;
  font-size: 3.95rem;
  margin: 0;
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, "Microsoft YaHei", "Heiti SC", "Pingfang SC", "Droid Sans Fallback", SimHei, Hei, STHeiti, SimSun, STSong, "Arial Unicode MS";
}

#root {
  max-width: 414px;
  margin: 0 auto;
}

.theme {
  color: #2bb;
}

.home,
.menu,
.settings {
  min-height: 100vh;
}



