.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
  margin: 0 auto 2rem;
}

.choice {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  width: 39rem;
  height: 39rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3.7rem;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
}
  /*a complication */
  @media (min-width: 70vh) {
    .choice {
      width: 24vh;
      height: 24vh;
    }
  }

.choice:active {
  background-color: whitesmoke;
}

.choice i {
  font-size: 12.4rem;
}

.choice p {
  padding: 4px 0;
  text-align: center;
}

.face-icon {
  padding-top: 5px;
}

.heart {
  position: relative;
  top: 1px;
}

.cross {
  position: relative;
  top: 2px;
}

