.labeled-chars {
  text-align: left;
  background-color: white;
  min-height: 100vh;
}

.labeled-chars article {
  margin-left: 4vw;
}

.labeled-chars h4 {
  font-weight: 400;
  font-size: 4.45vw;
  margin: 4vw 5vw 0 0;
}

.labeled-chars p {
  letter-spacing: 0.5em;
  line-height: 1.5em;
  font-size: 4.45vw;
  font-weight: 400;
}

.rated-names {
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh;
}

.rated-names table {
  font-size: 4vw;
  width: 85%;
  margin: auto;
  border-collapse: collapse;
}

.rated-names th {
  height: 6vh;
}

.rated-names td {
  height: 2em;
  background: white;
  border-top: 1px solid #e5e5e5;
}

.rated-names td:first-child {
  width: 39%;
}

.rated-names td:last-child {
  width: 28%;
}

.discourage-source {
  text-align: left;
  background-color: white;
  min-height: 100vh;
}

.discourage-source article {
  padding: 5vw;
  font-size: 1rem;
  line-height: 170%;
}

.discourage-source article p {
  margin: 0.5rem 0;
}
