.name {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.15);
  background-color: white;
  width: 70rem;
  margin: auto;
  /*box-sizing: border-box;*/
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fixed-char {
  border-top: 1px solid #2bb;
  padding-top: 2px;
}

.name-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  font-size: 5.3rem;
  padding: 1rem 4rem;
}

.name h2 {
  padding: 0;
  margin: 0;
  font-weight: 600;

}

.ref {
  border-top:1px solid #d5d5d5;
  font-size: 3.3rem;
  margin: 0;
  text-align: left;
  padding: 2rem 4rem;
}

.ref p {
  margin: 2px;
}

dl {
  margin: 1vh 0;
}

dd {
  margin-left: 3rem;
}

.expander {
  font-size: 1.2em;
}

.given-name-char:active {
  color: silver;
}
