header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5vh;
  padding: 2vw;
  background-color: white;
  /*box-shadow: 0 1px 10px silver;*/
  border-bottom: 1px solid #d5d5d5;
}

header * {
  padding: 0;
  margin: 0;
}

header *:active {
  color: grey;
}

header h1 {
  font-size:5vw;
  color:#2bb;
}

header h2 {
  font-size:5vw;
  color:black;
}

header h3 {
  font-size:4.5vw;
  font-weight: 100;
  color:black;
}

.icon {
  color: #555;
  font-size:6vw;
  padding: 0 0.6vw;
  display: flex;
  align-items: center;
}

.placeholder {
  opacity: 0;
}
