header {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%;
  padding: 2vw;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid #d5d5d5;
  box-sizing: border-box;
}

header * {
  padding: 0;
  margin: 0;
}

header i:active {
  color: grey;
}

header h1 {
  font-size:5vw;
  color:#2bb;
}

header h2 {
  font-size:5vw;
  color:black;
}

header h3 {
  font-size:4.5vw;
  font-weight: 400;
  color:black;
}

header p {
  font-size: 3.5vw;
}

header p a {
  text-decoration: underline;
}

header .icon {
  color: #555;
  font-size:6vw;
  padding: 0 0.6vw;
  display: flex;
  align-items: center;
}

.placeholder {
  opacity: 0;
}

.fake-header {
  display: block;
  height: 7vh;
}

