form {
  text-align: left;
  width: 100%;
  margin: 0;
}

h4 {
  text-align: left;
  font-weight: 300;
  margin: 2vh 3rem 1vh;
}

h4 svg {
  padding: 0 0.5rem;
  position: relative;
  bottom: 0.2em;
}
form input,
.wall textarea {
  font-size: 18px;
  outline: none;
  border: 1px solid #eee;
  width: 100%;
  padding: 1.6rem 3rem;
  box-sizing: border-box;
  /*↓ to remove the weird input styling on mobile (different than chrome simulation)*/
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}

.welcome,
.submit {
  color: #2bb;
  border: none;
  background-color: transparent;
  font-size: 5rem;
  font-weight: 500;
  text-align: left;
  margin: 3rem;
}

.wall dl {
  text-align: left;
}

.wall dt {
  margin: 3rem 3rem 1rem;
}

.wall dd {
  background-color: white;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 1.5rem 3rem;
  margin: 0;
}

.wall p + dl { /*the first message on the wall, needs to be farther from the submit button*/
  margin-top: 6rem;
}

.new-user-form {
  padding-top: 5rem;
}
