form {
  text-align: left;
  width: 100%;
  margin: 0;
}

h4 {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
  margin: 2vh 3vw 1vh;
}

h4 svg {
  padding: 0 0.5vw;
  position: relative;
  bottom: 0.2em;
}
form input,
.wall textarea {
  font-size: 4vw;
  outline: none;
  border: 1px solid #eee;
  width: 100%;
  padding: 1.6vw 3vw;
  box-sizing: border-box;
  /*↓ to remove the weird input styling on mobile (different than chrome simulation)*/
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}

.welcome,
.submit {
  color: #2bb;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  margin: 3vw;
}

.wall dl {
  text-align: left;
}

.wall dt {
  margin: 1.5vh 3vw 0.4vh;
}

.wall dd {
  background-color: white;
  border: 1px solid #eee;
  box-sizing: border-box;
  width: 100vw;
  padding: 1vh 3vw;
  margin: 0;
}

.wall p + dl { /*the first message on the wall, needs to be farther from the submit button*/
  margin-top: 6vw;
}
